<!-- Featured Destinations -->
<section class="destinations">
    <div fxLayout="column">
        <div fxFlex="100">
            <h1>Featured Destinations</h1>
        </div>
    </div>
    <div class="destinations-slider">
        <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let designation of designations">
                <ng-template carouselSlide>
                    <img [src]="designation.imageUrl" [alt]="designation.city">
                    <p>{{designation.city}}</p>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</section>
<!-- Featured Destinations End -->