<!-- Get a Quote -->
<section class="get-a-quote">
    <div fxLayout="column">
        <div fxFlex="100" fxLayoutAlign="center center">
            <h1>Travelling as a group? Get a Quote</h1>
        </div>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="userName">Your Name</label>
            <input type="text" formControlName="userName" [ngClass]="{ 'is-invalid': submitted && f.userName.errors }">
            <div *ngIf="submitted && f.userName.errors">
                <div *ngIf="f.userName.errors.required">Name is required</div>
            </div>
        </div>
        <br>
        <div>
            <label for="mobile">Contact No</label>
            <input type="tel" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Contact No is required</div>
                <div *ngIf="f.mobile.errors.minlength">Invalid Contact No</div>
            </div>
        </div>
        <br>
        <div>
            <label for="email">Email</label>
            <input type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Invalid Email</div>
            </div>
        </div>
        <!-- <div>
            <p>We hear you! We will get back to you for planning your vacation.</p>
        </div> -->
        <button type="button">Submit</button>
    </form>
</section>
<!-- Get a Quote End -->